/* About
	========================================================================== */
.featured {
    color: white;
    
    .intro {
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        
        .wrapper {
            max-width: 1200px;
            padding: 10% 30px 25% 30px;
            margin: auto;
            position: relative;
            z-index: 1;
            
            @include media(1440px) {
                padding: 144px 30px 360px 30px;
            }
            
            .content {
                margin: auto;
                max-width: 500px;
                
                @include media($tablet) {
                    width: 50%;
                }
            }
        }
        
        h2 {
            color: white;
            line-height: .9;
            margin-bottom: 30px;
            
            @include media($tablet){
                @include font-size(44px);
            }
            @include media($desktop){
                @include font-size(54px);
            }
        }
    }
    
    .most-recent {
        text-align: center;
        
        h3 {
            color: white;
            font-weight: 300;
            margin-bottom: 50px;
            @include font-size(35px);
            
            @include media($tablet) {
                margin-bottom: 100px;
            }
        }
        
        ul {
            //max-width: 1200px;
            padding: 0 0px 50px 0px;
            margin: auto;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
            
            @include media($tablet) {
                padding-bottom: 80px;
            }
            
            li {
                width: 350px;
                margin: 0 2.5% 20px 2.5%;
            }
            
            .cover {
	            display: block;
                @include aspect-ratio(16,10);
                position: relative;
                overflow: hidden;
                margin-bottom: 20px;
                
                img {
                    position: absolute;
                    display: block;
            		height: 100%;
            		width: 100%;
            		object-fit: cover;
            		top: 50%;
            		left: 50%;
            		transform: translate(-50%, -50%) scale(1.02);
            		transform-style: preserve-3d;
                    transition: all .2s ease-in-out;
                }
            }
            
            a {
                text-decoration: none;
                color: rgba(white,.5);
                
                &:hover {
                    img {
                        transform: translate(-50%, -50%) scale(1.12);
                    }
                }
            }
            
            .info {
                position: relative;
                
                .plyr {
                    position: static;
                }
                
                .plyr__controls {
                    background: transparent;
                    position: static;
                    
                    .plyr__control {
                        position: absolute;
                        border-radius: 300px;
                        border: 1px solid rgba(white,.5);
                        top: 0; right: 0;
                        width: 32px;
                        height: 32px;
                        color: white;
                        
                        svg {
                            width: 12px;
                            height: 12px;
                            margin: auto;
                        }
                    }
                }
                
                .plyr__progress {
                    margin: 0;
                    left: 0;
                    
                    input[type=range] {
                        color: $teal !important;
                        border-radius: 300px;
                    }
                }
                
                input[type=range]::-webkit-slider-thumb {
                    background: none;
                    box-shadow: none;
                }
                
                .plyr--full-ui.plyr--audio input[type=range]::-webkit-slider-runnable-track {
                    background-color: rgba(183, 197, 205, .2);
                }
                .plyr__progress__buffer {
                    color: rgba(white,.1);
                }
            }
            
            h4 {
                @include font-size(18px);
                color: white;
            }
            
            span {
                text-transform: uppercase;
                
                a {
	                color: white;
                }
            }
        }
    }
    
    .listen-on {
        padding: 40px 20px;
        text-align: center;
        
        h5 {
            color: white;
            font-weight: 400;
            text-transform: uppercase;
            margin-bottom: 30px;
            @include font-size(17px);
            @include rem(letter-spacing, 1px);
        }
        a {
            display: inline-block;
            margin: 0 20px;
            transition: all .2s;
            
            &:hover {
                transform: scale(1.2);
            }
            
            img {
                display: block;
                max-width: 40px;
                height: auto;
            }
        }
    }
}

.teachings {
    background: #111;
    
    .intro {
        .content {
            @include media($tablet) {
                margin-left: 0 !important;
            }
        }
    }
    .most-recent {
        border-bottom: 1px solid rgba(white,0.1);
    }
}
.music {
    background: #111;
    
    .intro {
        .content {
            @include media($tablet) {
                margin-right: 0 !important;
            }
        }
    }
    .most-recent {
        border-bottom: 1px solid rgba(white,.1);
        
        ul {
            li {
                width: 300px;
                text-align: left;
                
                .cover {
                    @include aspect-ratio(16,14);
                }
                
                span {
                    text-transform: none;
                    font-style: italic;
                }
            }
        }
    }
}
