/* Single Campus
	========================================================================== */
$heroBreakpoint: 985px;

.campus-hero {
    position: relative;
    background-color: #111;
    background-position: center;
    background-size: cover;
    
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(black,.6);
    }
    
    // Container
    .container {
        position: relative;
        z-index: 2;
        text-align: center;
        padding: 30px 20px 30px 20px;
        min-height: 700px;
        height: 100vh;
        max-height: 900px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        h1 {
            text-transform: uppercase;
            color: white;
            margin-bottom: 30px;
            @include font-size(48px);
            
            @include media(500px) {
                font-size: 10.49vw;
            }
            @include media(1100px) {
                @include font-size(115px);
            }
        }
    }
    
    // Info
    .info {
        margin: 0 auto 30px auto;
        width: 100%;
        color: white;
        @include font-size(18px);
        line-height: 1.4;
	display: flex;
	justify-content: space-between;

	@include media-below($heroBreakpoint) {
		flex-direction: column;
		align-items: center;
	}
        
	.info-box {
		border-right: 1px solid #ffffff;
		padding: 0 40px;
		display: flex;
		flex-direction: column;

		@include media-below($heroBreakpoint) {
			border-right: none;

			&::after {
				content: '';
				width: 75%;
				border-bottom: 1px solid #ffffff;
				display: block;
				margin: 18px auto;
			}
		}
	}

	.info-box:last-child {
		border-right: none;
	}

	.info-header {
		text-transform: uppercase;
		font-weight: 600;
		font-size: 22px;
	}

	.info-body {
		flex-grow: 1;
	}

	.info-links {
		margin: 15px 0 0 0;

		ul {
			list-style: none;
			display: flex;
			margin: 0;
			padding: 0;
		}

		a {
			color: #43ccb6;
			font-weight: 600;
			text-decoration: none;
			transition: color 0.3s;

			&:hover {
				color: #2fad99;
			}

			&:first-child {
				margin-right: 0;
			}
		}

		li:first-child {
			a::after {
				content: '|';
				margin: 0 10px;
			}
		}
	}
    }

	.bottom-links {
		display: flex;
		justify-content: center;

		a {
			font-size: 18px;
			color: #ffffff;
			border: 2px solid #ffffff;
			padding: 8px 15px;
			display: inline-block;
			text-decoration: none;
			transition: background 0.3s, border 0.3s;
			display: flex;

			&:hover {
				background: #43ccb6;
				border: 2px solid #43ccb6;

				.bx {
					color: #ffffff;
				}
			}

			&:first-child {
				margin: 0 30px 0 0;
			}
		}

		.bx {
			color: #43ccb6;
			font-size: 28px;
			transition: color 0.3s;
			margin: 0 5px 0 0;
		}

		@include media-below($heroBreakpoint) {
			align-items: center;

			a {
				font-size: 15px;
			}

			.bx {
				font-size: 22px;
			}
		}
	}
    
    // Other Info
    ul.other-info {
        @include font-size(18px);
        margin: 0;
        padding: 0;
        list-style: none;
        color: white;
        display: flex;
        justify-content: center;
        
        li {
            line-height: 1;
            padding: 0 15px;
            
            &:not(:last-child) {
                border-right: 1px solid white;
            }
        }
        
        span {
            color: $teal;
            font-weight: 600;
            display: inline-block;
        }
    }
    
    // Menu
    .campus-menu {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: rgba(black,.80);
        transition: transform .3s 0s, background .35s .0s;
        transform: translate3d(0, 0, 0);
        z-index: 2;
        
        &.scroll-to-fixed-fixed {
            bottom: auto;
            background: #111;
            z-index: 11 !important;
            
            &.slide-down {
                transform: translate3d(0, 86px, 0);
                transition: transform .35s .05s, background .5s .35s;
                border-top: 1px solid rgba(white,.1);
            }
            
            body.admin-bar & {
                top: 46px !important;
                
                @include media(783px) {
                    top: 32px !important;
                }
            }
        }
        
        ul {
            max-width: $hd;
            margin: 0 auto;
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: space-around;
            
            li {
                margin: 0 1%;
            }
            
            a {
                display: block;
                color: white;
                font-weight: 600;
                @include font-size(18px);
                line-height: 1;
                padding: 23px 0;
                text-decoration: none;

		@include media-below(400px) {
			@include font-size(16px);
		}
            }
        }

	@include media-height-below(730px) {
		position: static;
	}

	@include media-below(532px) {
		text-align: center;
	}
    }
}
