/* Form Buttons
	========================================================================== */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@include button;
}

/* Forms Fields
	========================================================================== */
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #777;
	border: 1px solid #F5F5F5;
	border-radius: 3px;
	outline: none;

	&:focus {
		color: #555;
		border-color: #222;
	}
}

select {
	border: 1px solid #999;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {
	padding: .4em;
}

textarea {
	padding-left: 5px;
	width: 100%;
}
