/* Compuses
	========================================================================== */
section.campuses {
    
    .container {
        max-width: 1240px;
        position: relative;
        
        @include media($desktop) {
            @include font-size(18px);
        }
    }
    
    &.gray .campus {
        border: none;
    }
    
    .campus {
        display: block;
        background: white;
        display: flex;
        flex-wrap: wrap;
        color: #222;
        position: relative;
        border: 1px solid rgba(black,.1);
        
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
    
    .name {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        
        @include media($tablet) {
            width: calc(100% - 350px);
        }
        @include media($desktop) {
            width: calc(100% - 375px);
        }
        
        &::before {
            content: '';
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(black,.3);
        }
        
        h3 {
            color: white;
            padding: 50px 30px;
            position: relative;
            z-index: 1;
            text-transform: uppercase;
            @include font-size(38px);
            
            @include media($tablet) {
                font-size: 5vw;
                padding: 30px;
            }
            
            @include media(1240px) {
                @include font-size(57px);
            }
        }
    }
    
    .info {
        width: 100%;
        padding: 20px 40px;
        line-height: 1.4;
        
        @include media(580px) {
            display: flex;
        }
        
        @include media($tablet) {
            width: 350px;
            display: block;
        }
        
        @include media($desktop) {
            width: 375px;
            padding: 30px 40px;
        }
        
        i {
            @include font-size(32px);
            width: 45px;
        }
        
        .times,
        .address {
            display: flex;
            padding: 10px 0;
            align-items: flex-start;
            
            @include media(580px) {
                width: 50%;
            }
            
            @include media($tablet) {
                padding: 20px;
                width: 100%;
            }
        }
        
        .times {
            border-bottom: 1px solid rgba(black,.1);
            
            @include media-between(581px, 767px) {
                border: 0;
            }
            
            strong {
                display: block;
                text-transform: uppercase;
            }
        }
    }
    
    a {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to right, $teal 0%, $blue 100%);
        opacity: 0;
        transition: all .25s;
        transform: scale(.9);
        z-index: 3;
        
        &:hover {
            opacity: 1;
            transform: scale(1);
        }
        
        span {
            width: 80px;
            height: 80px;
            background: white;
            border-radius: 100px;
            text-align: center;
            line-height: 80px;
            color: #2CB6D3;
            position: absolute;
            top: calc(50% - 40px);
            left: calc(50% - 40px);
            text-transform: uppercase;
            font-weight: 700;
            @include rem(letter-spacing, 1px);
            @include font-size(18px);
        }
    }
    
}
